.wrapper {
  position: relative;
  max-width: 400px;
  width: 100%;

  .input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px 12px 40px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 0;
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  svg {
    position: absolute;
    left: 15px;
    top: 15px;
    opacity: 0.3;
    width: 18px;
    height: 18px;
  }

  .clearIcon {
    svg {
      right: 10px;
      left: revert;
      top: 15px;
      cursor: pointer;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
